In [22]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [23]:
sampling = False
train_size = 40000
test_size = 40000
# 负样本:正样本 #None #3 #5
imbalance_ratio = 3

In [24]:
def sample_csv(df, sample_size):
    if imbalance_ratio == None:
        return df.head(sample_size)
    else:
        df_positive = df[df['label'] == 1]
        df_negative = df[df['label'] == 0]
        
        positive_ratio = 1 / (1 + imbalance_ratio)
        n_positive = int(sample_size * positive_ratio)
        n_negative = sample_size - n_positive
        
        df_positive_sample = df_positive.sample(n_positive)
        df_negative_sample = df_negative.sample(n_negative)
        
        df_sample = pd.concat([df_positive_sample, df_negative_sample])

        df_sample = df_sample.sample(frac=1).reset_index(drop=True)
        
        return df_sample

## 训练集

In [25]:
train_path = "sample_train_aligned.csv"

# 去除引号和中括号，转为int64
def convert_to_int64(x):
    return int(x[2:-2])

cols = ['label', 'l_i_fea_1', 'l_i_fea_2', 'l_i_fea_3', 'l_i_fea_4', 'l_i_fea_5', 'l_i_fea_6', 'l_i_fea_7', 'l_i_fea_8', 'l_i_fea_9', 'l_i_fea_10', 
        'l_u_fea_1', 'l_u_fea_2', 'l_u_fea_3', 'l_u_fea_4', 'l_u_fea_5', 'l_u_fea_6', 'l_c_fea', 'f_u_fea_1', 'f_u_fea_2', 'f_uc_fea_1', 'f_uc_fea_2', 'f_c']

df = pd.read_csv(train_path, converters={col: convert_to_int64 for col in cols})
if sampling:
    df = sample_csv(df, train_size)

In [26]:
df.head()

,sample_id,label,l_i_fea_1,l_i_fea_2,l_i_fea_3,l_i_fea_4,l_i_fea_5,l_i_fea_6,l_i_fea_7,l_i_fea_8,...,l_u_fea_3,l_u_fea_4,l_u_fea_5,l_u_fea_6,l_c_fea,f_u_fea_1,f_u_fea_2,f_uc_fea_1,f_uc_fea_2,f_c
0,-9223220126187500318,0,-5287936313084677179,8084300381894937330,-9076164531174937936,8084300381894937330,8084300381894937330,428672737273554205,5533571732986600803,5533571732986600803,...,3193536938152946868,-4693370504473863914,4626655835479920219,-1754833425601328586,-7957553216881927546,-3266576381013309554,2090661578966068036,-3266576381013309554,2090661578966068036,5533571732986600803
1,-9223048034997363525,0,4300556635849199195,2981864709062684959,-648183253907572499,-5457520981419582345,1635097844076959523,4026232044409473829,5117079446564601502,5117079446564601502,...,3193536938152946868,-4693370504473863914,4626655835479920219,-3173627322981594039,-7957553216881927546,746762829127501960,602994839685422785,746762829127501960,602994839685422785,5533571732986600803
2,-9222932270466821859,0,1083180274160658433,-2099131199942028737,7559368963556602160,6784961850590238736,7842892110772948600,-2987289283433705045,5117079446564601502,5117079446564601502,...,297800911140507064,-4693370504473863914,-6077894513126863286,-3455528769578359720,-7957553216881927546,5533571732986600803,5533571732986600803,5533571732986600803,5533571732986600803,5533571732986600803
3,-9222929497664830252,0,-4477970793468294874,1949179011620443760,7559368963556602160,1190189139078118944,5365358294949406510,6838302294807130323,5117079446564601502,5117079446564601502,...,297800911140507064,-4693370504473863914,-6077894513126863286,2121194293767120934,-7957553216881927546,5533571732986600803,5533571732986600803,5533571732986600803,5533571732986600803,746762829127501960
4,-9222745117624976850,0,-4421011080635349748,-2380521471790345789,7559368963556602160,2363656444718923494,-6815738093123189750,4026232044409473829,2462676316711722248,2462676316711722248,...,3193536938152946868,-4693370504473863914,2708870521957489032,2121194293767120934,-7957553216881927546,5533571732986600803,5533571732986600803,5533571732986600803,5533571732986600803,746762829127501960

In [27]:
df.nunique(dropna=False)

sample_id     2515289
label               2
l_i_fea_1      735821
l_i_fea_2        6250
l_i_fea_3           5
l_i_fea_4      165145
l_i_fea_5       99040
l_i_fea_6           9
l_i_fea_7          10
l_i_fea_8          10
l_i_fea_9          10
l_i_fea_10         10
l_u_fea_1     1782138
l_u_fea_2           3
l_u_fea_3           4
l_u_fea_4           5
l_u_fea_5          12
l_u_fea_6         381
l_c_fea             1
f_u_fea_1           5
f_u_fea_2           5
f_uc_fea_1          5
f_uc_fea_2          5
f_c                 3
dtype: int64

In [28]:
df.describe()

,sample_id,label,l_i_fea_1,l_i_fea_2,l_i_fea_3,l_i_fea_4,l_i_fea_5,l_i_fea_6,l_i_fea_7,l_i_fea_8,...,l_u_fea_3,l_u_fea_4,l_u_fea_5,l_u_fea_6,l_c_fea,f_u_fea_1,f_u_fea_2,f_uc_fea_1,f_uc_fea_2,f_c
count,2.598552e+06,2.598552e+06,2.598552e+06,2.598552e+06,2.598552e+06,2.598552e+06,2.598552e+06,2.598552e+06,2.598552e+06,2.598552e+06,...,2.598552e+06,2.598552e+06,2.598552e+06,2.598552e+06,2.598552e+06,2.598552e+06,2.598552e+06,2.598552e+06,2.598552e+06,2.598552e+06
mean,-2.019271e+15,5.922914e-03,2.079023e+16,4.603298e+17,6.605379e+17,7.155157e+17,6.035965e+17,7.520870e+17,1.211913e+18,1.168259e+18,...,2.941727e+18,-4.905987e+18,2.207530e+18,9.449535e+16,-7.957553e+18,3.829179e+18,3.410920e+18,3.834329e+18,3.433433e+18,3.238892e+18
std,5.325601e+18,7.673223e-02,5.341212e+18,5.571265e+18,5.643012e+18,5.600461e+18,5.679697e+18,5.031047e+18,3.790397e+18,3.776401e+18,...,8.110819e+17,3.067952e+18,5.338127e+18,5.089611e+18,1.864766e+08,2.707699e+18,2.880504e+18,2.718491e+18,2.873814e+18,2.405316e+18
min,-9.223371e+18,0.000000e+00,-9.223346e+18,-9.223171e+18,-9.076165e+18,-9.223319e+18,-9.222600e+18,-8.158406e+18,-7.446917e+18,-7.446917e+18,...,-2.836539e+18,-7.038506e+18,-8.206315e+18,-9.213943e+18,-7.957553e+18,-3.266576e+18,-3.266576e+18,-3.266576e+18,-3.266576e+18,6.029948e+17
25%,-4.613143e+18,0.000000e+00,-4.625939e+18,-4.254409e+18,-6.481833e+17,-4.152677e+18,-5.265887e+18,-2.987289e+18,-1.703000e+18,-1.703000e+18,...,3.193537e+18,-7.038506e+18,8.357347e+17,-4.049023e+18,-7.957553e+18,7.467628e+17,7.467628e+17,7.467628e+17,7.467628e+17,7.467628e+17
50%,-5.513169e+15,0.000000e+00,3.321608e+16,6.025697e+17,-6.481833e+17,8.982445e+17,9.110153e+17,4.286727e+17,1.819085e+18,1.819085e+18,...,3.193537e+18,-4.693371e+18,2.708871e+18,1.393580e+17,-7.957553e+18,5.533572e+18,5.533572e+18,5.533572e+18,5.533572e+18,5.533572e+18
75%,4.611468e+18,0.000000e+00,4.659979e+18,5.648230e+18,7.559369e+18,6.006682e+18,5.533572e+18,4.026232e+18,5.117079e+18,5.117079e+18,...,3.193537e+18,-4.693371e+18,7.761285e+18,4.314683e+18,-7.957553e+18,5.533572e+18,5.533572e+18,5.533572e+18,5.533572e+18,5.533572e+18
max,9.223355e+18,1.000000e+00,9.223313e+18,9.221985e+18,7.559369e+18,9.223267e+18,9.223327e+18,7.384872e+18,5.533572e+18,5.533572e+18,...,3.193537e+18,9.137385e+18,8.701324e+18,9.184488e+18,-7.957553e+18,5.533572e+18,5.533572e+18,5.533572e+18,5.533572e+18,5.533572e+18

In [29]:
df['label'].value_counts(normalize=True)

0    0.994077
1    0.005923
Name: label, dtype: float64

## 测试集

In [30]:
test_path = "test.csv"
df_test = pd.read_csv(test_path, converters={col: convert_to_int64 for col in cols})
if sampling:
    df_test = sample_csv(df_test, test_size)

In [31]:
df_test.nunique(dropna=False)

sample_id     2430967
label               2
l_i_fea_1      701199
l_i_fea_2        6156
l_i_fea_3           5
l_i_fea_4      153669
l_i_fea_5       93297
l_i_fea_6           9
l_i_fea_7          10
l_i_fea_8          10
l_i_fea_9          10
l_i_fea_10         10
l_u_fea_1     1721879
l_u_fea_2           3
l_u_fea_3           4
l_u_fea_4           5
l_u_fea_5          12
l_u_fea_6         380
l_c_fea             1
f_u_fea_1           5
f_u_fea_2           5
f_uc_fea_1          5
f_uc_fea_2          5
f_c                 3
dtype: int64

In [32]:
df_test.describe()

,sample_id,label,l_i_fea_1,l_i_fea_2,l_i_fea_3,l_i_fea_4,l_i_fea_5,l_i_fea_6,l_i_fea_7,l_i_fea_8,...,l_u_fea_3,l_u_fea_4,l_u_fea_5,l_u_fea_6,l_c_fea,f_u_fea_1,f_u_fea_2,f_uc_fea_1,f_uc_fea_2,f_c
count,2.432490e+06,2.432490e+06,2.432490e+06,2.432490e+06,2.432490e+06,2.432490e+06,2.432490e+06,2.432490e+06,2.432490e+06,2.432490e+06,...,2.432490e+06,2.432490e+06,2.432490e+06,2.432490e+06,2.432490e+06,2.432490e+06,2.432490e+06,2.432490e+06,2.432490e+06,2.432490e+06
mean,-3.222135e+14,6.355627e-03,-3.898359e+16,6.597326e+17,1.297161e+17,8.708670e+17,9.652044e+17,5.118989e+17,1.174482e+18,1.139523e+18,...,2.933729e+18,-4.918986e+18,2.228592e+18,1.554068e+17,-7.957553e+18,4.113250e+18,3.706699e+18,4.121007e+18,3.728914e+18,3.003683e+18
std,5.324667e+18,7.946846e-02,5.348293e+18,5.718452e+18,5.716911e+18,5.667270e+18,5.735096e+18,5.045981e+18,3.781651e+18,3.773018e+18,...,8.230431e+17,3.078802e+18,5.334331e+18,5.124320e+18,3.154760e+08,2.506842e+18,2.730056e+18,2.512717e+18,2.720717e+18,2.397070e+18
min,-9.223367e+18,0.000000e+00,-9.223365e+18,-9.223171e+18,-9.076165e+18,-9.223319e+18,-9.222600e+18,-8.158406e+18,-7.446917e+18,-7.446917e+18,...,-2.836539e+18,-7.038506e+18,-8.206315e+18,-9.213943e+18,-7.957553e+18,-3.266576e+18,-3.266576e+18,-3.266576e+18,-3.266576e+18,6.029948e+17
25%,-4.609137e+18,0.000000e+00,-4.734851e+18,-4.387381e+18,-6.481833e+17,-4.072570e+18,-4.940391e+18,-2.987289e+18,-1.703000e+18,-1.703000e+18,...,3.193537e+18,-7.038506e+18,8.357347e+17,-4.049023e+18,-7.957553e+18,7.467628e+17,7.467628e+17,7.467628e+17,7.467628e+17,7.467628e+17
50%,-3.858806e+15,0.000000e+00,-2.951167e+16,1.508912e+18,-6.481833e+17,1.061377e+18,1.609218e+18,4.286727e+17,1.819085e+18,1.819085e+18,...,3.193537e+18,-4.693371e+18,2.708871e+18,2.465213e+17,-7.957553e+18,5.533572e+18,5.533572e+18,5.533572e+18,5.533572e+18,7.467628e+17
75%,4.612523e+18,0.000000e+00,4.590981e+18,6.142229e+18,7.559369e+18,6.421650e+18,5.997618e+18,4.026232e+18,5.117079e+18,5.117079e+18,...,3.193537e+18,-4.693371e+18,7.761285e+18,4.314683e+18,-7.957553e+18,5.533572e+18,5.533572e+18,5.533572e+18,5.533572e+18,5.533572e+18
max,9.223370e+18,1.000000e+00,9.223367e+18,9.221985e+18,7.559369e+18,9.223180e+18,9.223107e+18,7.384872e+18,5.533572e+18,5.533572e+18,...,3.193537e+18,9.137385e+18,8.701324e+18,9.184488e+18,-7.957553e+18,5.533572e+18,5.533572e+18,5.533572e+18,5.533572e+18,5.533572e+18

In [33]:
df_test['label'].value_counts(normalize=True)

0    0.993644
1    0.006356
Name: label, dtype: float64

## 数值特征归一化

In [34]:
NUMERICAL = ['l_i_fea_1', 'l_i_fea_2', 'l_i_fea_4', 'l_i_fea_5', 'l_u_fea_6', 'l_u_fea_1']
scaler = StandardScaler()
scaler.fit(df[NUMERICAL])
df[NUMERICAL] = scaler.transform(df[NUMERICAL])
df[NUMERICAL].head()

   l_i_fea_1  l_i_fea_2  l_i_fea_4  l_i_fea_5  l_u_fea_6  l_u_fea_1
0  -0.993918   1.368445   1.315746   1.317096  -0.363354   0.736737
1   0.801273   0.452597  -1.102237   0.181612  -0.642116  -0.068328
2   0.198904  -0.459404   1.083741   1.274592  -0.697504  -0.922539
3  -0.842274   0.267237   0.084756   0.838383   0.398203  -0.176782
4  -0.831609  -0.509911   0.294287  -1.306291   0.398203   0.592695

In [35]:
df_test[NUMERICAL] = scaler.transform(df_test[NUMERICAL])
df_test[NUMERICAL].head()

   l_i_fea_1  l_i_fea_2  l_i_fea_4  l_i_fea_5  l_u_fea_6  l_u_fea_1
0   1.178263   0.288601   1.152613   0.089578   1.263298   0.571106
1   1.556406   1.368445   1.315746   1.317096  -0.174654  -0.195378
2  -1.009790   1.368445   1.315746   1.317096   0.758718   1.514697
3   0.703993  -1.308952   0.545209   0.868000  -0.532470   0.877113
4  -1.518968   1.368445   1.315746   1.317096   0.140551   0.529543

## 类别特征编码

In [36]:
CATEGORICAL = ['l_i_fea_3', 'l_i_fea_6', 'l_i_fea_7', 'l_i_fea_8', 'l_i_fea_9', 'l_i_fea_10', 'l_u_fea_2', 'l_u_fea_3', 'l_u_fea_4', 'l_u_fea_5', 'f_u_fea_1', 'f_u_fea_2', 'f_uc_fea_1', 'f_uc_fea_2', 'f_c']

for col in CATEGORICAL:
    le = LabelEncoder()
    le.fit(df[col])
    df[col] = le.transform(df[col])
    df_test[col] = le.transform(df_test[col])
    
df[CATEGORICAL].head()

,l_i_fea_3,l_i_fea_6,l_i_fea_7,l_i_fea_8,l_i_fea_9,l_i_fea_10,l_u_fea_2,l_u_fea_3,l_u_fea_4,l_u_fea_5,f_u_fea_1,f_u_fea_2,f_uc_fea_1,f_uc_fea_2,f_c
0,0,3,9,9,9,9,0,3,3,9,0,3,0,3,2
1,3,5,8,8,8,8,0,3,3,9,2,1,2,1,2
2,4,1,8,8,8,5,2,1,3,1,4,4,4,4,2
3,4,7,8,8,8,8,2,1,3,1,4,4,4,4,1
4,4,5,7,7,7,2,1,3,3,7,4,4,4,4,1

In [37]:
df_test[CATEGORICAL].head()

,l_i_fea_3,l_i_fea_6,l_i_fea_7,l_i_fea_8,l_i_fea_9,l_i_fea_10,l_u_fea_2,l_u_fea_3,l_u_fea_4,l_u_fea_5,f_u_fea_1,f_u_fea_2,f_uc_fea_1,f_uc_fea_2,f_c
0,3,7,3,3,3,3,1,3,3,7,4,2,4,2,1
1,0,3,9,9,9,9,1,3,3,8,4,4,4,4,1
2,0,3,9,9,9,9,0,3,3,11,4,4,4,4,2
3,3,1,9,4,9,4,0,3,0,6,4,4,4,4,1
4,0,3,9,9,9,9,1,3,0,8,2,2,2,2,2

## 保存类别特征数量

In [38]:
feature_columns = {}
for feat in CATEGORICAL:
    feature_columns[feat] = len(df[feat].unique())
np.save('fea_num.npy', [feature_columns])

## 存入训练集

In [39]:
train_set = df[NUMERICAL + CATEGORICAL + ['label']]
train_set.head()

,l_i_fea_1,l_i_fea_2,l_i_fea_4,l_i_fea_5,l_u_fea_6,l_u_fea_1,l_i_fea_3,l_i_fea_6,l_i_fea_7,l_i_fea_8,...,l_u_fea_2,l_u_fea_3,l_u_fea_4,l_u_fea_5,f_u_fea_1,f_u_fea_2,f_uc_fea_1,f_uc_fea_2,f_c,label
0,-0.993918,1.368445,1.315746,1.317096,-0.363354,0.736737,0,3,9,9,...,0,3,3,9,0,3,0,3,2,0
1,0.801273,0.452597,-1.102237,0.181612,-0.642116,-0.068328,3,5,8,8,...,0,3,3,9,2,1,2,1,2,0
2,0.198904,-0.459404,1.083741,1.274592,-0.697504,-0.922539,4,1,8,8,...,2,1,3,1,4,4,4,4,2,0
3,-0.842274,0.267237,0.084756,0.838383,0.398203,-0.176782,4,7,8,8,...,2,1,3,1,4,4,4,4,1,0
4,-0.831609,-0.509911,0.294287,-1.306291,0.398203,0.592695,4,5,7,7,...,1,3,3,7,4,4,4,4,1,0

In [40]:
train_set.to_csv('fedads_train.csv', index=False)

## 存入测试集

In [41]:
test_set = df_test[NUMERICAL + CATEGORICAL + ['label']]
test_set.head()

,l_i_fea_1,l_i_fea_2,l_i_fea_4,l_i_fea_5,l_u_fea_6,l_u_fea_1,l_i_fea_3,l_i_fea_6,l_i_fea_7,l_i_fea_8,...,l_u_fea_2,l_u_fea_3,l_u_fea_4,l_u_fea_5,f_u_fea_1,f_u_fea_2,f_uc_fea_1,f_uc_fea_2,f_c,label
0,1.178263,0.288601,1.152613,0.089578,1.263298,0.571106,3,7,3,3,...,1,3,3,7,4,2,4,2,1,0
1,1.556406,1.368445,1.315746,1.317096,-0.174654,-0.195378,0,3,9,9,...,1,3,3,8,4,4,4,4,1,0
2,-1.009790,1.368445,1.315746,1.317096,0.758718,1.514697,0,3,9,9,...,0,3,3,11,4,4,4,4,2,1
3,0.703993,-1.308952,0.545209,0.868000,-0.532470,0.877113,3,1,9,4,...,0,3,0,6,4,4,4,4,1,0
4,-1.518968,1.368445,1.315746,1.317096,0.140551,0.529543,0,3,9,9,...,1,3,0,8,2,2,2,2,2,0

In [42]:
test_set.to_csv('fedads_test.csv', index=False)