In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [2]:
sampling = True
train_size = 1000000
test_size = 200000

# 读入数据

In [3]:
NUMERICAL = ['I' + str(i) for i in range(1, 14)]
NUMERICAL

['I1',
 'I2',
 'I3',
 'I4',
 'I5',
 'I6',
 'I7',
 'I8',
 'I9',
 'I10',
 'I11',
 'I12',
 'I13']

In [4]:
CATEGORICAL = ['C' + str(i) for i in range(1, 27)]
CATEGORICAL

['C1',
 'C2',
 'C3',
 'C4',
 'C5',
 'C6',
 'C7',
 'C8',
 'C9',
 'C10',
 'C11',
 'C12',
 'C13',
 'C14',
 'C15',
 'C16',
 'C17',
 'C18',
 'C19',
 'C20',
 'C21',
 'C22',
 'C23',
 'C24',
 'C25',
 'C26']

In [5]:
train_path = "train.txt"

if sampling:
    df = pd.read_csv(train_path, sep='\t', header=None, names=['label']+NUMERICAL+CATEGORICAL, nrows=train_size+test_size)
else:
    df = pd.read_csv(train_path, sep='\t', header=None, names=['label']+NUMERICAL+CATEGORICAL)

df[NUMERICAL] = df[NUMERICAL].fillna(0)
df[CATEGORICAL] = df[CATEGORICAL].fillna('-1')

In [6]:
df.head()

,label,I1,I2,I3,I4,I5,I6,I7,I8,I9,...,C17,C18,C19,C20,C21,C22,C23,C24,C25,C26
0,0,1.0,1,5.0,0.0,1382.0,4.0,15.0,2.0,181.0,...,e5ba7672,f54016b9,21ddcdc9,b1252a9d,07b5194c,NaN,3a171ecb,c5c50484,e8b83407,9727dd16
1,0,2.0,0,44.0,1.0,102.0,8.0,2.0,2.0,4.0,...,07c540c4,b04e4670,21ddcdc9,5840adea,60f6221e,NaN,3a171ecb,43f13e8b,e8b83407,731c3655
2,0,2.0,0,1.0,14.0,767.0,89.0,4.0,2.0,245.0,...,8efede7f,3412118d,NaN,NaN,e587c466,ad3062eb,3a171ecb,3b183c5c,NaN,NaN
3,0,0.0,893,0.0,0.0,4392.0,0.0,0.0,0.0,0.0,...,1e88c74f,74ef3502,NaN,NaN,6b3a5ca6,NaN,3a171ecb,9117a34a,NaN,NaN
4,0,3.0,-1,0.0,0.0,2.0,0.0,3.0,0.0,0.0,...,1e88c74f,26b3c7a7,NaN,NaN,21c9516a,NaN,32c7478e,b34f3128,NaN,NaN

In [7]:
df.nunique(dropna=False)

label         2
I1          274
I2         4192
I3         1806
I4          199
I5        86944
I6         4113
I7         1385
I8          354
I9         3184
I10           9
I11         122
I12         173
I13         394
C1         1293
C2          532
C3       378254
C4       137941
C5          273
C6           16
C7        11011
C8          574
C9            3
C10       32997
C11        4776
C12      314932
C13        3072
C14          26
C15        9239
C16      239685
C17          10
C18        3988
C19        1886
C20           4
C21      281580
C22          16
C23          15
C24       45510
C25          72
C26       33803
dtype: int64

In [8]:
df.describe()

,label,I1,I2,I3,I4,I5,I6,I7,I8,I9,I10,I11,I12,I13
count,1.200000e+06,1.200000e+06,1.200000e+06,1.200000e+06,1.200000e+06,1.200000e+06,1.200000e+06,1.200000e+06,1.200000e+06,1.200000e+06,1.200000e+06,1.200000e+06,1.200000e+06,1.200000e+06
mean,2.543350e-01,1.866453e+00,9.688470e+01,1.576393e+01,5.259195e+00,1.818651e+04,8.982258e+01,1.388532e+01,1.331705e+01,9.996111e+01,3.350767e-01,2.384666e+00,2.346825e-01,5.741627e+00
std,4.354869e-01,6.887357e+00,3.584607e+02,2.793539e+02,7.990471e+00,6.711415e+04,3.863767e+02,5.675110e+01,3.022910e+01,2.108133e+02,5.909136e-01,4.704163e+00,2.953496e+00,2.822303e+01
min,0.000000e+00,0.000000e+00,-3.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,7.380000e+02,0.000000e+00,0.000000e+00,2.000000e+00,8.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,0.000000e+00,0.000000e+00,3.000000e+00,3.000000e+00,2.000000e+00,2.452000e+03,1.600000e+01,3.000000e+00,8.000000e+00,3.500000e+01,0.000000e+00,1.000000e+00,0.000000e+00,2.000000e+00
75%,1.000000e+00,1.000000e+00,3.300000e+01,1.000000e+01,7.000000e+00,9.920000e+03,7.100000e+01,1.000000e+01,2.000000e+01,1.030000e+02,1.000000e+00,2.000000e+00,0.000000e+00,7.000000e+00
max,1.000000e+00,7.800000e+02,1.852200e+04,6.553500e+04,5.070000e+02,2.527030e+06,2.335230e+05,8.807000e+03,5.064000e+03,1.932700e+04,8.000000e+00,1.470000e+02,7.680000e+02,6.702000e+03

In [9]:
df['label'].value_counts(normalize=True)

0    0.745665
1    0.254335
Name: label, dtype: float64

## 数值特征归一化

In [10]:
NUMERICAL = ['l_i_fea_1', 'l_i_fea_2', 'l_i_fea_4', 'l_i_fea_5', 'l_u_fea_6', 'l_u_fea_1']
scaler = StandardScaler()
scaler.fit(df[NUMERICAL])
df[NUMERICAL] = scaler.transform(df[NUMERICAL])
df[NUMERICAL].head()

KeyError: "None of [Index(['l_i_fea_1', 'l_i_fea_2', 'l_i_fea_4', 'l_i_fea_5', 'l_u_fea_6',\n       'l_u_fea_1'],\n      dtype='object')] are in the [columns]"

In [ ]:
df_test[NUMERICAL] = scaler.transform(df_test[NUMERICAL])
df_test[NUMERICAL].head()

## 类别特征编码

In [ ]:
CATEGORICAL = ['l_i_fea_3', 'l_i_fea_6', 'l_i_fea_7', 'l_i_fea_8', 'l_i_fea_9', 'l_i_fea_10', 'l_u_fea_2', 'l_u_fea_3', 'l_u_fea_4', 'l_u_fea_5', 'f_u_fea_1', 'f_u_fea_2', 'f_uc_fea_1', 'f_uc_fea_2', 'f_c']

for col in CATEGORICAL:
    le = LabelEncoder()
    le.fit(df[col])
    df[col] = le.transform(df[col])
    df_test[col] = le.transform(df_test[col])
    
df[CATEGORICAL].head()

In [ ]:
df_test[CATEGORICAL].head()

# 保存类别特征数量

In [ ]:
feature_columns = {}
for feat in CATEGORICAL:
    feature_columns[feat] = len(df[feat].unique())
np.save('fea_num.npy', [feature_columns])

## 存入训练集

In [ ]:
train_set = df[NUMERICAL + CATEGORICAL + ['label']]
train_set.head()

In [ ]:
train_set.to_csv('fedads_train.csv', index=False)

## 存入测试集

In [ ]:
test_set = df_test[NUMERICAL + CATEGORICAL + ['label']]
test_set.head()

In [ ]:
test_set.to_csv('fedads_test.csv', index=False)